<a href="https://colab.research.google.com/github/avs20/SioLabsPython0/blob/main/14_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
mylist = ['Ashutosh','Mangala','Gaurav','Shreya']

s1 = pd.Series(mylist)

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
s1

0    Ashutosh
1     Mangala
2      Gaurav
3      Shreya
dtype: object

In [5]:
mylist = ['Ashutosh','Mangala','Gaurav','Shreya']
s1 = pd.Series(data = mylist, name = 'Student Names')

s1

0    Ashutosh
1     Mangala
2      Gaurav
3      Shreya
Name: Student Names, dtype: object

In [10]:
mylist = ['Ashutosh','Mangala','Gaurav','Shreya']
s1 = pd.Series(data = mylist, name = 'Student Names', index = [10,20,30,40])

display(s1)

10    Ashutosh
20     Mangala
30      Gaurav
40      Shreya
Name: Student Names, dtype: object

2d Data

In [7]:
room_list = [ [ "drawing room", 100 ],
              ["dining room", 150 ],
              [" bed room ", 100],
              [" study room" , 200] ,
              ["kitchen" , 50 ]
             ]

df = pd.DataFrame(data = room_list )

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df

              0    1
0  drawing room  100
1   dining room  150
2     bed room   100
3    study room  200
4       kitchen   50

In [11]:
df = pd.DataFrame(data = room_list,columns =['Room Name','Area in sq.ft']  )
df

      Room Name  Area in sq.ft
0  drawing room            100
1   dining room            150
2     bed room             100
3    study room            200
4       kitchen             50

In [12]:
room_list = [ [ "drawing room", 100 , 'white'],
              ["dining room", 150 ,'blue'],
              [" bed room ", 100, 'cream'],
              [" study room" , 200, 'white'] ,
              ["kitchen" , 50 ,'green']
             ]

df = pd.DataFrame(data = room_list,columns =['Room Name','Area in sq.ft','paint']  )
df

      Room Name  Area in sq.ft  paint
0  drawing room            100  white
1   dining room            150   blue
2     bed room             100  cream
3    study room            200  white
4       kitchen             50  green

Selecting rows and columns
-------

In [13]:
df

      Room Name  Area in sq.ft  paint
0  drawing room            100  white
1   dining room            150   blue
2     bed room             100  cream
3    study room            200  white
4       kitchen             50  green

In [14]:
df['paint']

0    white
1     blue
2    cream
3    white
4    green
Name: paint, dtype: object

In [15]:
df['Area in sq.ft']

0    100
1    150
2    100
3    200
4     50
Name: Area in sq.ft, dtype: int64

In [16]:
df['Area insq.ft']

KeyError: ignored

In [17]:
df['lightbulb']

KeyError: ignored

In [18]:
df

      Room Name  Area in sq.ft  paint
0  drawing room            100  white
1   dining room            150   blue
2     bed room             100  cream
3    study room            200  white
4       kitchen             50  green

In [21]:
df2 = df[ ['paint', 'Room Name']   ]
print(type(df2))
df2

<class 'pandas.core.frame.DataFrame'>

   paint     Room Name
0  white  drawing room
1   blue   dining room
2  cream     bed room
3  white    study room
4  green       kitchen

In [24]:
df2

   paint     Room Name
0  white  drawing room
1   blue   dining room
2  cream     bed room
3  white    study room
4  green       kitchen

In [26]:
df.loc[ : , ['paint'] ]

   paint
0  white
1   blue
2  cream
3  white
4  green

In [27]:
df.loc[ 1 , ['paint'] ]

paint    blue
Name: 1, dtype: object

In [28]:
df.loc[ 4 , ['paint'] ]

paint    green
Name: 4, dtype: object

In [29]:
df.loc[ 4 , 'paint' ]

'green'

In [30]:
df.loc[ 4 , ['Room Name','paint'] ]

Room Name    kitchen
paint          green
Name: 4, dtype: object

In [31]:
df.iloc[ 4 , ['Room Name','paint'] ]

IndexError: ignored

In [33]:
df.iloc[ : , 0 ]

0    drawing room
1     dining room
2       bed room
3      study room
4         kitchen
Name: Room Name, dtype: object

In [34]:
df.iloc[ : , 2 ]

0    white
1     blue
2    cream
3    white
4    green
Name: paint, dtype: object

In [35]:
df.iloc[2:4 , 2]

2    cream
3    white
Name: paint, dtype: object

In [37]:
df.iloc[2:4 , -2:]

   Area in sq.ft  paint
2            100  cream
3            200  white