<a href="https://colab.research.google.com/github/avs20/SioLabsPython0/blob/main/5_Sequences_Strings_and_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sequences : 

Sequences are things that come one after another. 

What are string ?

They are a sequence of characters. 

"banana"

```
 b    a    n    a     n     a     
```




---

`[]` operator

`[]` operator is used to access characters in the string. 

[index] → gets the character at given position 

Note
--------
position → start at 0 not at 1 

![image.png]()

In [ ]:
mystr = "banana"

mystr[1]

'a'

In [ ]:
mystr[5]

'a'

In [ ]:
mystr = "ashutosh"

print(mystr[3])

u

get the length of string 

```
len()
```

`len()` → gives the number of characters in the string

In [ ]:
len(mystr)

8

In [ ]:
length = len(mystr)
mystr[length]

IndexError: ignored

Slices 
----

Segement of string, a part of string 

Selecting some part of data 

Selection is done using `[]`

This selection is also done using `[]`

```
variable_name[startIdx : endIdx]
```

In [ ]:
mystr = "ashutosh"

print(mystr[ 0 : 3])

ash

In [ ]:
mystr[0 : 4]

'ashu'

```
variable_name[startIdx : endIdx]
```

1. What if we remove startIdx?
2. What if we remove endIdx?
3. What if we remove both?

In [ ]:
mystr[ : 4]

'ashu'

In [ ]:
mystr[4:8]

'tosh'

In [ ]:
mystr[ 4 : ]

'tosh'

In [ ]:
mystr [ : ]

'ashutosh'

Immutability of string 
-----

Strings can be created but cannot be changed. 

If you want to modify something create a new string

In [ ]:
mystr = "ashu"

Like String is a sequence of characters 

There are other sequences in the python language 

* string → sequence of characters 
* list → sequence of python objects
* tuple → seq of grouped object

In [ ]:
greeting = 'Hello Python'

greeting[0] = 'J'

TypeError: ignored

In [ ]:
greeting = 'Hello Python'
print(id(greeting))
greeting = 'Jello Python'
print(id(greeting))

140397575377968
140397575378032

In [ ]:
greeting[:4] + 'i' + greeting[5:]

'Jelli Python'

In [ ]:
greeting.replace('o','p')

'Jellp Pythpn'

In [ ]:
new_greeting = 'J' + greeting[1:]

## For loop 

* list through items in a collection 

e.g. 

1. characters in a word 
2. word in list of words 
3. lines in a text file 

When we have something (some collection/sequence) to go through we use for loop 

Syntax
----

```
for item in collection_name:
    print(item)
    #use item here 
```

In [ ]:
# print each character in string 
mystr = "ashutosh"

for character in mystr : 
    print(character)

a
s
h
u
t
o
s
h

In [ ]:
for haathi in mystr : 
    print(haathi)

a
s
h
u
t
o
s
h

In [ ]:
# count occurence of a character in a word 

mystr = "ashutosh"

count = 0
for char in mystr:
    if char == "z":
        count = count + 1
    
print(count)

2

## `in` Operator 

This is used to check one string in another string 

```
'a' in 'banana'
```

More use later

In [ ]:
'ashu' in 'ashutosh'

True

## Lists in Python 

List is a sequence of python objects. 

What objects we have seen 

* int 
* float 
* string 

### How to create a list 

There are many ways simplest is to use `[]`

```
mylist = [10, 20, 30]
print(mylist)
```

Empty List 

```
mylist = []
```

We can use for loop to go over each item in list

Lists are mutable → we can change items in a list unlike string

Mathematical operator on list 
-----

1. `+` operator → concatenates 2 list 
2. `*` operator → replicates the list n times

*Slicing* in Lists 

Same as string

#### Slicing with stepping

#### Reversing

List Methods :


1. append()
2. extend()
3. pop(index)
4. pop()
5. del[index]
6. remove(item)

Functions on list 
------

1. len()
2. max()
3. min()
4. sum()
5. sort()

Conversion of String to a list 

```
mystr = 'ashutosh'
tolist = list(mystr)
```

## Comparison operators in string

### Whitespace characters


#### Spaces , Tabs and NewLines 

These are special characters which are not seen by naked eye but they are present there. 

e.g. space is just space. We can't see it like an alphabet 

Tabs are denoted by \t. Generally its the space of 4 spaces. 

NewLines are the special characters which tell that the next characters on the new line. 

Generally denote by \n but in some operating systems they are denoted as \r\n

[Wiki](en.wikipedia.org/wiki/Newline)

> * \r = CR (Carriage Return) → Used as a new line character in Mac OS before X
* \n = LF (Line Feed) → Used as a new line character in Unix/Mac OS X
* \r\n = CR + LF → Used as a new line character in Windows



```
# This is formatted as code
```

In [ ]:
name = 'gaurav khanna'
print(name.rstrip('na'))

gaurav kh

In [ ]:
name = 'gaurav khanna'
print(name.rstrip('g'))

gaurav khanna

## Assignment 

Coding Bat

https://codingbat.com/python