<a href="https://colab.research.google.com/github/avs20/SioLabsPython0/blob/main/9_Tuples_and_other_python_stuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples
----------

In [1]:
mytuple = 10,20,30,40,50 

print(mytuple)

(10, 20, 30, 40, 50)

In [2]:
type(mytuple)

tuple

In [3]:
mytuple2 = (10,20,30,40,50)

In [5]:
mytuple

(10, 20, 30, 40, 50)

In [6]:
mytuple3 = 10,

In [7]:
print(mytuple3)

(10,)

In [9]:
mytuple2 = (10,20,30,40,50)

print(mytuple[0])
print(mytuple[-1])
print(mytuple[0:2])

10
50
(10, 20)

In [10]:
mytuple[2] = 100

TypeError: ignored

In [12]:
mytuple1 = (10,20,30)
mytuple2 = (10,20,34)

mytuple1 + mytuple2

(10, 20, 30, 10, 20, 34)

In [13]:
mytuple * 3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [14]:
mytuple1 = (10,20,30)
mytuple2 = (10,20,34)

print(mytuple1 < mytuple2)

True

In [15]:
mytuple1 = (10,18,30)
mytuple2 = (10,20,100000)

print(mytuple1 < mytuple2)

True

In [16]:
mytuple1 = (10,18,30)
mytuple2 = (10,"ashu",100000)

print(mytuple1 < mytuple2)

TypeError: ignored

In [ ]:
import math

def get_values(x, y, theta):
  h = math.sqrt(x**2 + y**2)

  x_axis = h * cos(theta)
  y_axis = h * sin(theta)

  return [x_axis, y_axis]

In [17]:
my_dict = {
    'breakfast':'apple',
    'lunch' : 'mango',
    'snacks' : 'banana',
    'dinner' : 'orange'
}

print(my_dict)

{'breakfast': 'apple', 'lunch': 'mango', 'snacks': 'banana', 'dinner': 'orange'}

In [18]:
print(my_dict.keys())

dict_keys(['breakfast', 'lunch', 'snacks', 'dinner'])

In [19]:
my_dict.items()

dict_items([('breakfast', 'apple'), ('lunch', 'mango'), ('snacks', 'banana'), ('dinner', 'orange')])

In [20]:
for key in my_dict:
  print(key, ':', my_dict[key])

breakfast : apple
lunch : mango
snacks : banana
dinner : orange

In [21]:
for key, value in my_dict.items():
  print(key, ':',value)

breakfast : apple
lunch : mango
snacks : banana
dinner : orange

WhiteSpace Characters in python 
-------

In [22]:
print('I love python')

I love python

In [23]:
print('I love \t python')

I love 	 python

In [24]:
print(' I love python\n I love c++')

 I love python
 I love c++

In [25]:
print(' I love python\r\n I love c++')

 I love python
 I love c++

In [ ]:
mystr.rstrip()

In [26]:
mystr = "ashutosh singh"

print(mystr.strip())

ashutosh singh

In [27]:
mystr = "ashutosh singh   "
print(len(mystr))
mystr2 = mystr.rstrip()
print(len(mystr2))

17
14

Combining conditional statements

In [28]:
a = 75

print(a > 70)

True

In [29]:
print(a < 80)

True

In [30]:
if a > 70:
  if a < 80 :
    print('True')

True

In [31]:
# and 
# or 
# not

and - > combine 2 conditions and return true if both of them are true

OR - combine 2 conditions and return true if at least 1 of them is true. 

not â†’  return true if condition is false,
        return false if condition is true

In [32]:
if a > 70 and a < 80:
  print('True')

True

In [33]:
_12_marks = 80
test_score = 89

if _12_marks > 90 or test_score > 80:
  print('Scholarship granted')

Scholarship granted

In [34]:
if not _12_marks > 90:
  print('markes not above 90')

markes not above 90

Scope in python
----------

In [36]:
rate = 10

principal = int(input())
time = int(input())


def calc_interest(principal, time):
  interest = principal * rate * time / 100
  return interest

print(calc_interest(principal, time))

1000
10
1000.0

In [37]:
rate = 10

principal = int(input())
time = int(input())


def calc_interest(principal, time):
  interest = principal * rate * time / 100
  return interest

print(calc_interest(principal, time))
print(interest)

1000
10
1000.0

NameError: ignored

range() function

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [40]:
list(range(12,24))

[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [41]:
list(range(12,24, 2))

[12, 14, 16, 18, 20, 22]

In [42]:
list(range(12,24, -1))

[]

In [43]:
list(range(24,12, -1))

[24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13]

In [44]:
for i in range(10):
  print('I love python')

I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python

In [45]:
for i in range(len("ashutosh")):
  print("i love python")

i love python
i love python
i love python
i love python
i love python
i love python
i love python
i love python

In [46]:
for i in range(len("ashutosh")):
  print(i)

0
1
2
3
4
5
6
7