<a href="https://colab.research.google.com/github/avs20/SioLabsPython0/blob/main/Sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



Cost function - Loss function 
  - The function which should be minimized which gives us 2 values 
  - m (slope) and b (intercept)

Learning Rate : 

*  move slowly in the direction of minimizing cost function. 1e-3 → 1e-5

Gradient and Gradient Descent :
* slope of tangent at a point in the curve (loss function)
* the method to move in the direction of mimimum value of curve using gradient as a tool 
```
old_value = new_value - (learning_rate) * gradient 
```

* Stochastic Gradient Descent 
* Batch Gradient Descent
* Mini-batch Gradient Descent


Stochastic
-------
Random 


* Simple / Basic Gradient Descent → Ask gradient from each point in the dataset
* Stochastic → Ask gradient from a random point (used mostly in industry)
* Batch / Mini batch → Simple / take few examples

Sklearn →

* pandas - data manipulation 
* numpy - fast array manipulation
* sklearn - machine learning 

deep learning is not done using sklearn. 

sklearn is only for basic machine learning 
except for neural networks you will get all the algorithms.

In [1]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
X, y = load_iris(return_X_y=True)
clf = LogisticRegression(random_state=0).fit(X, y)
clf.predict(X[:2, :])

clf.predict_proba(X[:2, :])


clf.score(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.9733333333333334

In [4]:
import numpy as np
from sklearn.linear_model import LinearRegression
X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])
# y = 1 * x_0 + 2 * x_1 + 3
y = np.dot(X, np.array([1, 2])) + 3
reg = LinearRegression().fit(X, y)

print(reg.score(X, y))

print(reg.coef_)

print(reg.intercept_)

print(reg.predict(np.array([[3, 5]])))

1.0
[1. 2.]
3.0000000000000018
[16.]

In [5]:
import pandas as pd 
import numpy as np

data = pd.read_csv("https://raw.githubusercontent.com/avs20/MSIT_ML_CLASS/master/datasets/boston_housing.csv")
data.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

sklearn requirement 

1. convert everything to numpy array 

pandas can have different data types in different columns 

sklearn can only work in numeric data (int or float)

So we need to convert the data

1. All numeric data - no need to convert anything 
2. need to convert string values to numeric values 
3. Can't have NaN or missing values. Either replace with some values like mean /median or some value or just drop the rows with missing values. 
4. Break the dataset into features and output
5. rows of features should be equal to rows of output
6. X should be 2 - dimensional array

In [6]:
data = data [['RM', 'MEDV']]
data.head()

      RM      MEDV
0  6.575  504000.0
1  6.421  453600.0
2  7.185  728700.0
3  6.998  701400.0
4  7.147  760200.0

In [7]:
data.isnull().sum()

RM      0
MEDV    0
dtype: int64

In [8]:
X, y = data['RM'], data['MEDV']

In [11]:
type(X)

pandas.core.series.Series

In [12]:
type(y)

pandas.core.series.Series

In [14]:
X = X.values

In [15]:
y = y.values

In [21]:
print(X.shape)
print(y.shape)

(489,)
(489,)

In [24]:
X = X.reshape(X.shape[0],-1)

In [25]:
print(X.shape)

(489, 1)

In [27]:
import numpy as np
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)

print(reg.score(X, y))

print(reg.coef_)

print(reg.intercept_)

print(reg.predict(np.array([[3]])))

0.48610069787324506
[179098.59189784]
-663283.9105825216
[-125988.134889]